[submodule "AGVSystemCommonNet6/AGVSystemCommonNet6"]
	path = AGVSystemCommonNet6
	url = https://github.com/gpmagvs/AGVSystemCommonNet6.git
[submodule "RosBridgeClient"]
	path = RosBridgeClient
	url = https://github.com/gpmagvs/RosBridgeClient.git
